body,html{
    margin: 0;
    height: 100%;
    background-color: gray;
}

.header{
    background-color: gray;
    height: 10%;
}

.name{
    color: blue;
}

.header nav{
    float: right;
    margin-top: -45px;
    margin-right: 80px;
}
.header h2{
    margin-left: 120px;
    color: white;
    font-size: 1.7rem;
}

nav .active{
    color: blue;
}

nav a{
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
nav a:hover {
    color: blueviolet;
}

.subscribe h3{
    margin-left: 6rem;
    color: white;
}
.subscribe .email{
    float: right;
    margin-top: -40px;
    margin-right: 100px;
}
.main{
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 60px;
}
.first{
    margin: 0 50px 0 50px;
}
.back{
    background-color: rgb(61, 60, 60);
    padding: 7px;
    color: white;
}
.second{
    background-color: rgb(61, 60, 60);
    padding: 15px;
    color: white;   
}

.footer{
    background-color: blue;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 50px;
}